* {
}
body {
  margin: 0 auto;
  color: #333333;
  font-family: arial;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(230, 180, 56);
}
.main-content {
  flex-grow: 1;
  border-bottom: 1px solid white;
}
.nom_img {
  color: rgb(107, 107, 107);
  font-weight: bold;
}
footer {
  color: lightslategray;
  margin-top: 16px 0;
  padding: 1rem;
}
header {
  margin-top: 16px;
  margin-bottom: 2rem;
}
h1 {
  font-size: 64px;
  margin-bottom: 16px;
}
header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}
nav {
  font-size: 2rem;
}
ul {
  margin-top: 3rem;
}
.portrait {
  width: 250px;
  margin-bottom: 1rem;
}
form {
  margin: 1rem auto;
}
input {
  border: 1px solid #ccc;
  padding: 8px;
}
button {
  cursor: pointer;
  border: 1px solid #888888;
  background-color: #888888;
  padding: 8px;
  color: white;
  font-weight: bold;
}
